* {
  box-sizing: border-box;
}

.header {
  background-color: #e6d450;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

.header:after {
  content: "";
  display: table;
  clear: both;
}

input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.addBtn:hover {
  background-color: #bbb;
}

img {
  background-color: #e6e7ac;
  padding: 10px;
  border-radius: 10px;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  word-wrap: break-word;
  padding-right: 40px;
}

ul li:nth-child(2n) {
  background: #dadada;
}

ul li:hover {
  background: rgb(224, 224, 224);
}

ul li.checked {
  background: rgb(170, 170, 170);
  color: #fff;
  text-decoration: line-through;
}

ul li.checked::before {
  content: '';
  position: absolute;
  border-color: rgb(236, 255, 229);
  border-style: solid;
  border-width: 0 3px 3px 0;
  top: 13px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  right: 0;
  top: 0;
  transform: translate(-15px, 14px);
  width: 20px;
  height: 20px;
  border-radius: 50%;

}

.close:hover {
  background-color: #d77d7d;
  color: white;

}